/*
author: veronica A01208105
date: 2021-03-27
*/

@import url("../02_styles/style-menu.css");
@import url("../02_styles/media.css");
@import url("../02_styles/style_how_to.css");
@import url("../02_styles/style_submenu.css");
@import url("../02_styles/style_projects.css");
@import url("../02_styles/style_get_creative.css");
@import url("../02_styles/style_contact.css");

@font-face {
   font-family: 'ralewaylight';
   src: url('../01_fonts/raleway_regular/raleway-regular-webfont.woff2') format('woff2'),
        url('../01_fonts/raleway_regular/raleway-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'black_jackregular';
   src: url('../01_fonts/blackjack/blackjack-webfont.woff2') format('woff2'),
        url('../01_fonts/blackjack/blackjack-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

@font-face {
   font-family: 'alluraregular';
   src: url('../01_fonts/allura/allura-regular-webfont.woff2') format('woff2'),
        url('../01_fonts/allura/allura-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

html {
   box-sizing:border-box;
   font-family: 'ralewaylight', sans-serif;
   line-height: 1.5rem;
   color: #725477;
}

body {
   margin: 0px;
   padding: 0px;
}

h1 {
   font-size: 1.4rem;
}

h2, h3, h4, h5, h6 {
   font-size: 1.2rem;
}

header img {
   max-width: 100%;
   height: auto;
}

header figure {
   margin: 0px;
   padding: 0px;
   text-align: center;
}

a:link {
   color:#fb896e;
   font-weight: bold;
}
a:visited {
   color: #00b7cc;
   font-weight: normal;
}

a:active,
a:focus,
a:hover {
   color: #f5c46c;
   text-decoration: none;
}

footer {
   margin: 0px;
   padding: 10px;
   background-color: #f5cfc4;
}

footer ul {
   padding: 0px;
   margin: 10px;
   list-style: none;
   text-align: center;
}
footer p {
   text-align: center;
}

footer a:link {
   display: block;
   padding: 0px 10px;
   padding-top: 5px;
   height: 40px;
   font-weight: normal;
   text-decoration: none;
   color: #4e3118;
}

footer a:visited {
   color: #966b9d;
}

footer a:active,
footer a:focus,
footer a:hover {
   color: #fb896e;
   font-weight: bolder;
}

.our-advice {
   font-family: 'alluraregular', sans-serif;
   font-size: 2rem;
}

.social_a {
   background-repeat: no-repeat;
   background-size: 20px;
   background-position-x: 0px;
   background-position-y: center;
}

.twitter {
   background-image: url("../00_images/icons/twitter-square-brands.svg");
}

.instagram {
   background-image: url("../00_images/icons/instagram-brands.svg");
}

.pinterest {
   background-image: url("../00_images/icons/pinterest-square-brands.svg");
}

#social-footer {
   display: flex;
   justify-content: space-between;
}

#social-footer a:link {
   padding-left: 23px;
   padding-top: 10px;
}

#footer-sections {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

#footer-sections a {
   padding: 0px 10px;
   padding-top: 5px;
}

#wrapper {
   padding: 15px;
   max-width:1024px;
   min-height:100vh;
}

#squirell-img img {
   max-width: 100%;
   height: auto;   
}

#squirell-img {
   text-align: center;
}

#welcome-msg {
   font-family: 'black_jackregular', sans-serif;
   font-size: 1.2rem;
   line-height: 2rem;
   color: #fb896e;
   text-align: center;
}

@media (min-width: 650px) {
   footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items:flex-start;
      padding: 10px 20px;
   }
   
   footer ul {
      padding: 0px;
      margin: 10px;
      list-style: none;
      text-align: center;
   }
   footer p {
      display: none;
   }
   
   .social_a {
      background-repeat: no-repeat;
      background-size: 20px;
      background-position-x: 0px;
      background-position-y: center;
   }
   
   #social-footer {
      display: block;
   }
}


@media(min-width: 820px) {
   footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px 100px;
   }
   
   footer ul {
      padding: 0px;
      margin: 10px;
      list-style: none;
      text-align: center;
   }
}

@media (min-width: 1024px) {
   body{
      margin: 0;
      min-height: 100vh;
      background-image: url("../00_images/background0.1.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
   }

  #wrapper {
   min-height: 100vh;
   width: auto;
   margin: 10px auto;
   margin-top: 0px;
   background-color: white;
   padding: 30px;
   display: flex;
   flex-direction: column;
  }

}

