.submenu {
    background:linear-gradient(#fff, #f0e5e3, #f5cfc4);
    letter-spacing: 3px;
}


.submenu ul {
    list-style: none;
    padding: 0px;
    padding-bottom: 10px;
}

.submenu a:link {
    display: block;
    height: 35px;
    padding-top: 5px;
    text-decoration: none;
    color: #8ac641;
    text-align: center;
}

.submenu a:visited {
    color: #8ac641;
}

.submenu #active {
    background-color: #8ac641;
}

.submenu a:active,
.submenu a:focus,
.submenu a:hover {
    background-color: #f5c46c;
    color: white;
    font-weight: bold;
 }

.submenu p {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #c56682;
    padding: 10px;
    text-align: center;
}

@media (min-width: 1020px) {
    .container {
        display: grid;
        grid-gap: 20px 30px;
        grid-template-columns: .8fr 3fr;
        grid-template-rows: minmax(30px, auto);
        grid-template-areas:
        "section2 section1"
    }

    .section1 {
        grid-area: section1;
    }
    .section2 {
        grid-area: section2;
        background-color: #f5cfc4;
    }
    .submenu {
        font-size: 0.9rem;
    }
    .submenu p{
        padding: 2px;
    }
    .submenu ul {
        padding-top: 12px;
        margin-top: 0px;
    }

}