/*
    author: Veronica A01208105
    date: 2021-03-27
*/

.show{
    display: block;
}

.navbar-menu {
	display:none;
}

/* Hamburger Menu */

.menu {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #feba9d;
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition: 0.3s;
	z-index: 9999;
}
.menu span {
	position: absolute;
	height: 3px;
	width: 25px;
	background-color: #fff;
   	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}
.menu span:before {
	content: '';
	position: absolute;
	top: -8px;
	background-color: #fff;
	height: 3px;
	width: 25px;
	transition: 0.3s;
}
.menu span:after {
	content: '';
	position: absolute;
	top: 8px;
	background-color: #fff;
	height: 3px;
	width: 25px;
	transition: 0.3s;
}
.menu.active span { 
	background-color: transparent; 
}
.menu.active span:before { 
	transform: rotate(45deg);
	top: 0; 
}
.menu.active span:after { 
	transform: rotate(-45deg);
	top: 0; 
}

/* End */

/* Navigationbar */

.navbar-menu {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateX(100%);
    transition: 0.5s;
}

.navbar-menu.active { 
	transform: translateX(0);
	transition: 0.5s; 
}
.navbar-menu .menu-listing { 
	padding: 0;
	margin: 0;
	text-align: center; 
}
.menu-listing li { 
	list-style: none; 
}
.menu-listing li a {
	font-weight: normal;
	background-color: #fff;
	color: #262626;
	display: block;
	font-size: 1rem;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	letter-spacing: 1px;
	text-decoration: none;
	transition: none;
}
.menu-listing li a:focus,
.menu-listing li a:active,
.menu-listing li a:hover {
	background-color: #c56682;
	color: #feba9d;
	font-weight: bold;
	transition: none;
}

#active {
	background-color: #feba9d;
	font-weight: bold;
	color: white;
}

#last-menu-item {
	border-bottom: solid 2px #fb896e;
	box-shadow: 2px 2px 2px #f5cfc4;
}

/* End */
